<!--Standard doctype metadata for html file-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chilly Dog Web Monitor</title>
  <script src='\static\chart.min.js'></script>  <!-- Javascript Chart API source for charting data-->
  <script src='\static\jquery.min.js'></script>   <!-- Javascript query API source for dynamic charting-->
</head>

<!--Core body of the web page-->
<body>
<!--Create the canvas object for the graph-->
  <canvas id="tempSensor_chart" width="900" height="400"></canvas>
  <!--Javascript code that will run/perform functionality for the chart-->
  <script>

  // Grab data from web server and graph
  var dataHandle = document.getElementById("tempSensor_chart").getContext("2d");  // Chart body reference to hold objects
  var chart_data = {  // Main chart data type used to set chart elements
    type: "line",
    data: {
      labels: {{ labels | safe }}, // Utilize string of list that represents the data labels - xaxis -->
      datasets: [
        {
          label: "Temperature (°F) vs. Time (s)",
          data: {{ values | safe }},  // Use temp data points for y axis
          fill: false, // TODO: Not sure if I need this - it will show exact resolution on web page?
          borderColor: "rgb(230,230,250)", // Lavender border color - randomly selected
          lineTension: 0.5  // Determines how "tight" corners will be when joining stretches of lines
        }
      ]
    },
    options: {
      responsive: false  // Tells chart.js to use width and height of canvas to "draw"
    }
  };
  var tempSensor_chart = new Chart(dataHandle, chart_data);  // Creates chart object to be displayed on webpage

  function updateGraph(){  // Ajax function that will be called to update the webpage with new data
    var temp_data = []; // Data will be a list represented as json string
    var json_data = JSON.stringify(temp_data); // Ensure data is in form of json string
    $.ajax({  // Ajax function that grabs data from specific Python Flask web page and sends the data to the graph webpage

        url : 'http://127.0.0.1:5000/get_data', // Data generation webpage
        type : 'GET', // Use ajax get command - flask will create this method type to be utilized by jquery/ajax
        data : json_data,
        dataType:'json',
        success : function(data) { // If the function is successfully completed, post the data
            tempSensor_chart.data.labels = data.x_values;
            tempSensor_chart.data.datasets[0].data = data.y_values;
            tempSensor_chart.update();
            //console.log(data);
        },
        error : function(request,error) // If there is an error, report the error on the webpage
        {
            alert("Request: "+JSON.stringify(request)); // Turn request into json string and report back to a "popup" window on the webpage
        }
    });
  }
  setInterval('updateGraph()', 3000);  // Setup jquery timing to call function every n interval of time.
  </script>
</body>
</html>
